# SAMPLE RULES
#
# lfw test rules
#
# Syntax:
#   ACTION [PROTO] [PORT] [from SRC] [to DST]
#   ACTION : allow | deny
#   PROTO  : any | tcp | udp | icmp
#   PORT   : number or number/proto (e.g. 22, 22/tcp)
#   SRC/DST: any or IPv4 address
#
#


default deny

# allow any

# allow any from 127.0.0.1
# allow any to 127.0.0.1
# allow tcp 8081 from 127.0.0.1

allow tcp 8081 from 192.168.0.111

allow 8081/tcp from 10.60.76.9
# allow tcp 8081 from 10.60.76.9
# allow any to 10.60.76.9

deny icmp

# allow tcp 8081
deny tcp 8081


